cell1
{
    width:320;
    height:150;
    background-color:RGB(216,216,216);
    border-color:LightGray;
    border-width:1;
    touchEnabled:YES;
    nestedDict:nestedCell{1:1; 2:2;};
}



cell2
{
    width:320px;
    height:150px;
    background-color:RGB(216,216,216);
    touchEnabled:YES;
}

cell2-label
{
    top:50;
    left:200;
    width:100;
    height:50;
    background-color:RGB(200,200,200);
    color:Green;
    text-align:center;
    font:bold 17;
    numberOfLines:2;
}

cell2-image
{
    top:20;
    left:20;
    width:90;
    height:90;
    background-color:RGB(256,216,216);
    touchEnabled:NO;
}

cell3
{
    width:320;
    height:150;
    background-color:RGB(216,216,216);
    touchEnabled:YES;    
}

cell3-label
{
    top:50;
    left:30;
    width:150;
    height:50;
    background-color:RGB(206,206,206);
    color:Orange;
    text-align:right;
    font:normal 17;
    numberOfLines:1;
}

cell3-image
{
    top:50;
    left:200;
    width:50;
    height:50;
    background-color:RGB(210,206,186);
    touchEnabled:NO;
}