<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>[微微笑]</key>
		<string>ww001</string>
	</dict>
	<dict>
		<key>[羞羞]</key>
		<string>ww002</string>
	</dict>
	<dict>
		<key>[吐舌头]</key>
		<string>ww003</string>
	</dict>
	<dict>
		<key>[偷笑]</key>
		<string>ww004</string>
	</dict>
	<dict>
		<key>[哈哈大笑]</key>
		<string>ww006</string>
	</dict>
	<dict>
		<key>[飞吻]</key>
		<string>ww008</string>
	</dict>
	<dict>
		<key>[安慰一下]</key>
		<string>ww009</string>
	</dict>
	<dict>
		<key>[加油]</key>
		<string>ww011</string>
	</dict>
	<dict>
		<key>[耶]</key>
		<string>ww012</string>
	</dict>
	<dict>
		<key>[亲一个]</key>
		<string>ww014</string>
	</dict>
	<dict>
		<key>[花痴]</key>
		<string>ww015</string>
	</dict>
	<dict>
		<key>[露齿笑]</key>
		<string>ww016</string>
	</dict>
	<dict>
		<key>[算下账]</key>
		<string>ww019</string>
	</dict>
	<dict>
		<key>[天使]</key>
		<string>ww023</string>
	</dict>
	<dict>
		<key>[色情狂]</key>
		<string>ww027</string>
	</dict>
	<dict>
		<key>[疑问]</key>
		<string>ww031</string>
	</dict>
	<dict>
		<key>[无聊发呆]</key>
		<string>ww033</string>
	</dict>
	<dict>
		<key>[小样]</key>
		<string>ww036</string>
	</dict>
	<dict>
		<key>[摇头]</key>
		<string>ww037</string>
	</dict>
	<dict>
		<key>[傻傻笑]</key>
		<string>ww040</string>
	</dict>
	<dict>
		<key>[不会吧]</key>
		<string>ww041</string>
	</dict>
	<dict>
		<key>[流汗]</key>
		<string>ww043</string>
	</dict>
	<dict>
		<key>[困了]</key>
		<string>ww045</string>
	</dict>
	<dict>
		<key>[眼泪掉下来]</key>
		<string>ww049</string>
	</dict>
	<dict>
		<key>[痛哭]</key>
		<string>ww051</string>
	</dict>
	<dict>
		<key>[鄙视你]</key>
		<string>ww064</string>
	</dict>
	<dict>
		<key>[大怒]</key>
		<string>ww065</string>
	</dict>
	<dict>
		<key>[恭喜发财]</key>
		<string>ww069</string>
	</dict>
	<dict>
		<key>[老大]</key>
		<string>ww071</string>
	</dict>
	<dict>
		<key>[邪恶]</key>
		<string>ww072</string>
	</dict>
	<dict>
		<key>[惊声尖叫]</key>
		<string>ww077</string>
	</dict>
	<dict>
		<key>[成交]</key>
		<string>ww081</string>
	</dict>
	<dict>
		<key>[拍手]</key>
		<string>ww082</string>
	</dict>
	<dict>
		<key>[爱慕]</key>
		<string>ww005</string>
	</dict>
	<dict>
		<key>[抱抱]</key>
		<string>ww010</string>
	</dict>
	<dict>
		<key>[你牛]</key>
		<string>ww013</string>
	</dict>
	<dict>
		<key>[拜拜]</key>
		<string>ww024</string>
	</dict>
	<dict>
		<key>[委屈]</key>
		<string>ww054</string>
	</dict>
	<dict>
		<key>[学习雷锋]</key>
		<string>ww068</string>
	</dict>
	<dict>
		<key>[约架啊]</key>
		<string>ww073</string>
	</dict>
</array>
</plist>
