<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-10000</string>
			<key>headerTitle</key>
			<string>2015.4.11 9:30</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-8001</string>
			<key>headerTitle</key>
			<string>2015.4.11 9:40</string>
			<key>alignmentType</key>
			<string>1</string>
			<key>message</key>
			<string> 欢迎加入吸烟圈群</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-8002</string>
			<key>headerTitle</key>
			<string>2015.4.11 9:50</string>
			<key>alignmentType</key>
			<string>1</string>
			<key>message</key>
			<string>请 设置 赌博群</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-1</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>message</key>
			<string>爱你在心口难开</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-1</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>message</key>
			<string>爱你在心口难开</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-2</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>voice</key>
			<string>语音消息url</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-2</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>voice</key>
			<string>语音消息url</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-3</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>emoji</key>
			<string>大表情</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-3</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>emoji</key>
			<string>大表情</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-4</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>image</key>
			<string>HiChat.bundle/headIcon.png</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-4</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>image</key>
			<string>HiChat.bundle/headIcon.png</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-11</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>m</key>
			<string>爱你在心口难开</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-11</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>m</key>
			<string>爱你在心口难开</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-12</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>v</key>
			<string>语音消息url</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-12</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>v</key>
			<string>语音消息url</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-13</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>e</key>
			<string>大表情</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-13</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>e</key>
			<string>大表情</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-14</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>i</key>
			<string>HiChat.bundle/headIcon.png</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-14</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>i</key>
			<string>HiChat.bundle/headIcon.png</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-1001</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>title</key>
			<string>火影忍者，多重影分身！</string>
			<key>image</key>
			<string>HiChat.bundle/headIcon.png</string>
			<key>desc</key>
			<string>好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-1001</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>title</key>
			<string>火影忍者，多重影分身！</string>
			<key>image</key>
			<string>HiChat.bundle/headIcon.png</string>
			<key>desc</key>
			<string>好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-1002</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>portalIcon</key>
			<string></string>
			<key>title</key>
			<string>火影忍者，多重影分身！</string>
			<key>image</key>
			<string>HiChat.bundle/headIcon.png</string>
			<key>desc</key>
			<string>好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人</string>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>templateId</key>
			<string>tid-1002</string>
			<key>headerTitle</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>portalIcon</key>
			<string></string>
			<key>title</key>
			<string>火影忍者，多重影分身！</string>
			<key>image</key>
			<string>HiChat.bundle/headIcon.png</string>
			<key>desc</key>
			<string>好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人,好色仙人</string>
		</dict>
	</array>
</dict>
</plist>
