cell1
{
    width:100%;
    height:200;
    background-color:RGB(216,216,216);
    border-color:LightGray;
    border-width:1;
    touchEnabled:YES;
}

cell1-label
{
    top:25px;
    left:160px;
    width:160;
    height:50%;
    background-color:RGB(23,233,233);
    color:Red;
    text-align:left;
    font:bold 17;
    numberOfLines:0;
}

cell1-image
{
    top:10;
    left:15;
    width:40%;
    height:60%;
    background-color:RGB(156,216,200);
    touchEnabled:YES;
}

cell2
{
    width:100%;
    height:150px;
    background-color:RGB(216,216,216);
    touchEnabled:YES;
}

cell2-label
{
    top:50;
    left:200;
    width:80%;
    height:50;
    background-color:RGB(200,0,200);
    color:Green;
    text-align:center;
    font:bold 27;
    numberOfLines:0;
}

cell2-image
{
    top:20;
    left:20;
    width:90;
    height:90;
    background-color:RGB(256,216,216);
    touchEnabled:NO;
}

cell3
{
    width:100%;
    height:150;
    background-color:RGB(216,216,216);
    touchEnabled:YES;    
}

cell3-label
{
    top:50;
    left:30;
    width:150;
    height:50;
    background-color:RGB(206,206,26);
    color:Orange;
    text-align:right;
    font:normal 17;
    numberOfLines:0;
}

cell3-image
{
    top:50;
    left:200;
    width:50;
    height:50;
    background-color:RGB(210,206,186);
    touchEnabled:NO;
}
