<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>linkUrl</key>
			<string>http://www.youku.com</string>
			<key>labelText</key>
			<string>中共中央政治局委员、中央政策研究室主任王沪宁，中共中央政治局委员、中央书记处书记、中宣部部长刘奇葆，中共中央政治局委员、中央书记处书记、中央办公厅主任栗战书，全国人大常委会副委员长沈跃跃，国务委员、国防部部长常万全，国务委员杨洁篪，国务委员、公安部部长郭声琨，全国政协副主席、中联部部长王家瑞，越共中央政治局委员、中央书记处书记、中央宣教部部长丁世兄，越共中央政治局委员、国会副主席、越中友好议员小组主席阮氏金银，越共中央政治局委员、国防部部长冯光青，越共中央政治局委员、公安部部长陈大光，越共中央书记处书记、中央办公厅主任陈国旺，越共中央委员、政府副总理兼外长范平明等参加上述活动。</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>春眠不觉晓</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>处处闻啼鸟</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>夜来风雨声</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>我要睡觉了</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.baidu.com</string>
			<key>labelText</key>
			<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，我要睡觉了</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，我要睡觉了</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，我要睡觉了</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.qq.com</string>
			<key>labelText</key>
			<string>http://www.baidu.com</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>http://www.google.com</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>www.alibaba-inc.com www.baidu.com www.qq.com</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>www.qq.com</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>www.alibaba-inc.com www.baidu.com www.qq.com</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sina.com</string>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>gary</string>
			<key>imageUrl</key>
			<string>garyIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.baidu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.youku.com</string>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sina.com</string>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
	</array>
</dict>
</plist>
