<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
			<key>headerTitle</key>
			<string>2015.4.11 9:30</string>
			<key>footerTitle</key>
			<string>发送消息包含违禁词</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
			<key>headerTitle</key>
			<string>2015.4.11 9:46</string>
			<key>footerTitle</key>
			<string>send faile!!</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>headerTitle</key>
			<string>2015.4.11 2:30</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
			<key>footerTitle</key>
			<string>你发送的消息包含敏感词</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
			<key>footerTitle</key>
			<string>你发送的消息包含敏感词</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
			<key>footerTitle</key>
			<string>发送消息包含违禁词</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
			<key>footerTitle</key>
			<string>发送消息包含违禁词</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com今次找水平更高的同学来拍，长期在广州打球的一看视频就应该知道是哪些人了。

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
	</array>
</dict>
</plist>
