<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>linkUrl</key>
			<string>http://www.youku.com</string>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>春眠不觉晓</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>处处闻啼鸟</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>夜来风雨声</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>我要睡觉了</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.baidu.com</string>
			<key>labelText</key>
			<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，我要睡觉了</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，我要睡觉了</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，我要睡觉了</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.qq.com</string>
			<key>labelText</key>
			<string>http://www.baidu.com</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>http://www.google.com</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>www.alibaba-inc.com www.baidu.com www.qq.com</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>www.qq.com</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>www.alibaba-inc.com www.baidu.com www.qq.com</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sina.com</string>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>gary</string>
			<key>imageUrl</key>
			<string>garyIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.baidu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sohu.com</string>
			<key>labelText</key>
			<string>bill</string>
			<key>imageUrl</key>
			<string>billIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.youku.com</string>
			<key>labelText</key>
			<string>jon</string>
			<key>imageUrl</key>
			<string>jonIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell2</string>
		</dict>
		<dict>
			<key>linkUrl</key>
			<string>http://www.sina.com</string>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell3</string>
		</dict>
		<dict>
			<key>labelText</key>
			<string>Jimmyt</string>
			<key>imageUrl</key>
			<string>jimmytIcon</string>
			<key>templateId</key>
			<string>cell1</string>
		</dict>
	</array>
</dict>
</plist>
