<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-10000</string>
			<key>headerText</key>
			<string>2015.4.11 9:30</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>msgId</key>
				<integer>150420135758000001</integer>
				<key>seed</key>
				<string>20881020122477511429509830.6205</string>
				<key>userID</key>
				<string>2088102146448309</string>
				<key>userType</key>
				<string>1</string>
				<key>w</key>
				<string>1024</string>
				<key>h</key>
				<string>683</string>
				<key>bizImage</key>
				<string>(null).right</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509830.6205</string>
				<key>i</key>
				<string>cloud_key_NC5Uf_grQkScg0ZJVmuqYwAAACMAAQEC</string>
				<key>timeLine</key>
				<string>2015-04-20 06:03:50 +0000</string>
				<key>headIcon</key>
				<string>http://tfs.stable.alipay.net/images/partner/T10I8XXX4dXXXXXXXX_160X160</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-8001</string>
			<key>headerText</key>
			<string>2015.4.11 9:40</string>
			<key>alignmentType</key>
			<string>1</string>
			<key>data</key>
			<dict>
				<key>message</key>
				<string> 欢迎加入吸烟圈群</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-10000</string>
			<key>headerText</key>
			<string>2015.4.11 9:30</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>msgId</key>
				<integer>150420135758000001</integer>
				<key>seed</key>
				<string>20881020122477511429509831.6205</string>
				<key>userID</key>
				<string>2088102146448309</string>
				<key>userType</key>
				<string>1</string>
				<key>w</key>
				<string>1024</string>
				<key>h</key>
				<string>683</string>
				<key>bizImage</key>
				<string>(null).right</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509831.6205</string>
				<key>i</key>
				<string>cloud_key_NC5Uf_grQkScg0ZJVmuqYwAAACMAAQEC</string>
				<key>timeLine</key>
				<string>2015-04-20 06:03:50 +0000</string>
				<key>headIcon</key>
				<string>http://tfs.stable.alipay.net/images/partner/T10I8XXX4dXXXXXXXX_160X160</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-10000</string>
			<key>headerText</key>
			<string>2015.4.11 9:30</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>msgId</key>
				<integer>150420135758000001</integer>
				<key>seed</key>
				<string>20881020122477511429509832.6205</string>
				<key>userID</key>
				<string>2088102146448309</string>
				<key>userType</key>
				<string>1</string>
				<key>w</key>
				<string>1024</string>
				<key>h</key>
				<string>683</string>
				<key>bizImage</key>
				<string>(null).right</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509832.6205</string>
				<key>i</key>
				<string>cloud_key_NC5Uf_grQkScg0ZJVmuqYwAAACMAAQEC</string>
				<key>timeLine</key>
				<string>2015-04-20 06:03:50 +0000</string>
				<key>headIcon</key>
				<string>http://tfs.stable.alipay.net/images/partner/T10I8XXX4dXXXXXXXX_160X160</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-2</string>
			<key>headerText</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509833.6205</string>
				<key>timeLine</key>
				<string>2015-04-20 06:03:50 +0000</string>
				<key>seed</key>
				<string>20881020122477511429509833.6205</string>
				<key>voice</key>
				<string>9fmVxrpvToCJKyIgIbKCowAAACMAAQEC</string>
				<key>l</key>
				<string>20</string>
				<key>v</key>
				<string>9fmVxrpvToCJKyIgIbKCowAAACMAAQEC</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-2</string>
			<key>headerText</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509823.6205</string>
				<key>timeLine</key>
				<string>2015-04-20 06:03:50 +0000</string>
				<key>seed</key>
				<string>20881020122477511429509823.6205</string>
				<key>voice</key>
				<string>9fmVxrpvToCJKyIgIbKCowAAACMAAQEC</string>
				<key>l</key>
				<string>2</string>
				<key>v</key>
				<string>9fmVxrpvToCJKyIgIbKCowAAACMAAQEC</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-4</string>
			<key>headerText</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>image</key>
				<string>HiChat.bundle/headIcon.png</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509834.6205</string>
				<key>seed</key>
				<string>20881020122477511429509834.6205</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-14</string>
			<key>headerText</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>2</string>
			<key>HeadIcon</key>
			<string></string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>image</key>
				<string>HiChat.bundle/headIcon.png</string>
				<key>clientMsgID</key>
				<string>20881020122477511429509835.6205</string>
				<key>seed</key>
				<string>20881020122477511429509835.6205</string>
				<key>i</key>
				<string>http://tfs.stable.alipay.net/images/partner/T10I8XXX4dXXXXXXXX_160X160</string>
			</dict>
		</dict>
		<dict>
			<key>link</key>
			<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
			<key>id</key>
			<string>tid-102-message-emoji</string>
			<key>headerText</key>
			<string>2015.4.11 10:50</string>
			<key>alignmentType</key>
			<string>0</string>
			<key>HeadIcon</key>
			<string></string>
			<key>topTitle</key>
			<string>Y30.00</string>
			<key>data</key>
			<dict>
				<key>link</key>
				<string>http://www.sohu.com

因为大家都有一定水平，对抗较激，所以1分钟就把机器甩掉了（我偷偷说：其实是主角头太小了，嘻嘻。）

介绍：很有现场带入感，球速增加，视觉刺激，不足在于主角摆头时会让一部分人觉得昏眩。

另外由于现场比较嘈杂，加上主角带旁述比（fei）较（hua）诙（tai）谐（duo），所以杀球的音效有所折扣，还不如我上次自拍的。

视频质量：1080P 60FPS 1分钟。

由于优酷视频只有15FPS会更晕，且超清分辨率只有480P（会员720P），还要等审核，因此今次就不传优酷了，直接让大家下载源文件。</string>
				<key>message</key>
				<string>吃饭</string>
				<key>emoji</key>
				<dict>
					<key>emoji</key>
					<string>18</string>
					<key>orderNo</key>
					<string>071</string>
				</dict>
				<key>image</key>
				<string>HiChat.bundle/headIcon.png</string>
				<key>bizImage</key>
				<string></string>
				<key>clientMsgID</key>
				<string>20881020122477511429509836.6205</string>
				<key>seed</key>
				<string>20881020122477511429509836.6205</string>
				<key>i</key>
				<string>http://tfs.stable.alipay.net/images/partner/T10I8XXX4dXXXXXXXX_160X160</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
