HeadFootStyle
{
    head:#header;
    foot:#footer;
}
header
{
    width:100%;
    height:20;
    color:white;
    text-align:center;
    font:normal 12;
    numberOfLines:0;
    alignmentType:center;
    background-color:RGB();
}

footer
{
    width:100%;
    height:20;
    color:white;
    text-align:center;
    font:normal 13;
    numberOfLines:0;
    alignmentType:center;
    background-color:RGB();
}



cell1
{
    order:1;
    width:100%;
    height:100;
    background-color:RGB(235,235,235);
    touchEnabled:YES;
    alignmentType:left;
}

cell1-head-image
{
    order:2;
    top:10;
    left:5%;
    width:35;
    height:35;
    background-color:RGB();
    touchEnabled:YES;
    alignmentType:left;
}

cell1-name
{
    order:3;
    top:10;
    left:23%;
    width:50%;
    height:0;
    background-color:RGB();
    color:gray;
    text-align:left;
    font:normal 11;
    numberOfLines:auto;
    alignmentType:none;
}


cell1-body-backgroundImg
{
    order:4;
    left:20%;
    top:10;
    width:65%;
    height:100;
    background-color:RGB();
    touchEnabled:YES;
    alignmentType:left;
    background-image:url(MFLayout://left:whiteAdvBG#center:whiteAdvBG#right:blueAdvBG);
}

cell1-body-jine
{
    order:7;
    top:0;
    left:5%;
    width:60%;
    height:40;
    background-color:RGB();
    color:black;
    highlightedTextColor:white;
    text-align:left;
    font:bold 20;
    numberOfLines:0;
    alignmentType:left;
    reverse:NO;
}

cell1-body-shaojuhua
{
    order:8;
    top:70;
    left:5%;
    width:90%;
    height:30;
    background-color:RGB();
    color:black;
    text-align:left;
    font:bold 12;
    numberOfLines:0;
    alignmentType:none;
}
cell1-body-icon
{
    order:6;
    top:5;
    left:70%;
    width:35;
    height:35;
    alignmentType:left;
    background-image:url(MFLayout://left:TRANSFER-left#center:TRANSFER-left#right:TRANSFER-right);
    reverse:NO;
}






cell2
{
    order:101;
    width:100%;
    height:100;
    background-color:RGB(235,235,235);
    touchEnabled:YES;
    alignmentType:left;
}

cell2-head-image
{
    order:102;
    top:10;
    left:5%;
    width:35;
    height:35;
    background-color:RGB();
    touchEnabled:YES;
    alignmentType:left;
}

cell2-name
{
    order:103;
    top:10;
    left:23%;
    width:0;
    height:0;
    background-color:RGB();
    color:gray;
    text-align:left;
    font:normal 11;
    numberOfLines:0;
    alignmentType:none;
}


cell2-body-backgroundImg
{
    order:104;
    left:20%;
    top:10;
    width:65%;
    height:100;
    background-color:RGB();
    touchEnabled:YES;
    alignmentType:left;
    background-image:url(MFLayout://left:whiteAdvBG#center:whiteAdvBG#right:blueAdvBG);
}

cell2-body-jine
{
    order:107;
    top:0;
    left:5%;
    width:60%;
    height:40;
    background-color:RGB();
    color:black;
    highlightedTextColor:white;
    text-align:left;
    font:bold 20;
    numberOfLines:0;
    alignmentType:left;
    reverse:YES;
}

cell2-body-shaojuhua
{
    order:108;
    top:70;
    left:5%;
    width:90%;
    height:30;
    background-color:RGB();
    color:black;
    text-align:left;
    font:bold 12;
    numberOfLines:0;
    alignmentType:left;
}
cell2-body-icon
{
    order:106;
    top:5;
    left:70%;
    width:35;
    height:35;
    alignmentType:left;
    background-image:url(MFLayout://left:COLLET-left#center:COLLET-left#right:COLLET-right);
    reverse:YES;
}