<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Thumb</key>
		<string>t_bz1.png</string>
		<key>URI</key>
		<string>bz1.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz2.png</string>
		<key>URI</key>
		<string>bz2.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz3.png</string>
		<key>URI</key>
		<string>bz3.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz4.png</string>
		<key>URI</key>
		<string>bz4.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz5.png</string>
		<key>URI</key>
		<string>bz5.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz1.png</string>
		<key>URI</key>
		<string>bz1.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz2.png</string>
		<key>URI</key>
		<string>bz2.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz3.png</string>
		<key>URI</key>
		<string>bz3.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz4.png</string>
		<key>URI</key>
		<string>bz4.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz5.png</string>
		<key>URI</key>
		<string>bz5.jpg</string>
	</dict>
	<dict>
		<key>Thumb</key>
		<string>t_bz1.png</string>
		<key>URI</key>
		<string>bz1.jpg</string>
	</dict>
</array>
</plist>
