<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoji</key>
	<dict>
		<key>大笑</key>
		<string>1.png</string>
		<key>大哭</key>
		<string>2.png</string>
	</dict>
</dict>
</plist>
